<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="page-header">
        <h1>
         KLM Travel
        </h1>
      </div>
    </div>
    
  </div>
  <div class="col-md-12 col-sm-12 features">
      <a routerLink="/dashboard"><span>METRICS DASHBOARD</span></a>
  </div>
  <div class="col-md-12 col-sm-12 features">
      <a routerLink="/airportlist"><span>AIRPORT LIST</span></a>
  </div>
  <div class="col-md-12 col-sm-12 features">
      <a routerLink="/flightsearch"><span>FARE SEARCH</span></a>
  </div>
</div>